# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.egg-info/
dist/
build/

# Environment variables
.env

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Modelos treinados
data/saved_models/*.h5
data/saved_models/*.pkl

# Resultados
resultado_treinamento.png

# Logs
*.log

